body {
    background: var(--rha-charcoal);
}

.headline {
    height: 700px;
    background: linear-gradient(to bottom, #333366D9, #ED1B69D9), url(images/headline.jpg);
    background-size: cover;
    background-position: center bottom 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

.headline #logo {
    height: 200px;
    object-fit: contain;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 110px));
}

.headline .loop-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.headline .loop {
    width: 800px;
    left: calc(100% - 400px);
    top: calc(100% - 900px);
    transform: rotate(5deg);
}

.headline #curve-headline {
    fill: white;
    display: inline;
    position: relative;
    top: calc(100% + 1px);
    transform: translate(0,-100%);
    z-index: 1;
}

.content#intro-involve {
    padding-top: 60px;
    background: linear-gradient(white, var(--rha-light-gray));
    display: block;
    overflow: hidden;
}

.content#programming-content {
    position: relative;
    top: -100px;
}

.content#programming-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--rha-light-gray);
    z-index: -1;
}

.content#programming-content .post-curve-content-container {
    padding-top: 80px;
    background: linear-gradient(var(--rha-navy), #ed1b69b8 120%), url(images/event.jpg);
    background-size: cover;
    background-position: center top 0;
    z-index: 1;
}

svg#curve-content-programming {
    display: block;
    margin-bottom: -1px;
    fill: var(--rha-navy);
    overflow: hidden;
}

svg#post-programming-curve {
    display: block;
    position: relative;
    margin-top: -150px;
    fill: var(--rha-orange)
}

#advocacy-content {
    display: block;
    position: relative;
    top: -100px;
    background: linear-gradient(var(--rha-orange), #ffcc6678 120%), url(images/advocacy.jpg);
    background-size: cover;
    background-position: center bottom 0;
}

svg#footer-curve {
    display: block;
    fill: var(--rha-charcoal);
}


@media screen and (max-width: 1200px) {
    .headline .loop {
        width: 600px;
        left: calc(100% - 400px);
        top: calc(100% - 700px);
    }
    .content#programming-content {
        top: -50px;
    }
    svg#post-programming-curve {
        margin-top: -75px;
    }
    #advocacy-content {
        top: -50px;
    }
    .footer {
        margin-top: -20px!important;
    }
}

@media screen and (max-width: 800px) {
    .content#programming-content {
        top: -30px;
    }
    svg#post-programming-curve {
        margin-top: -35px;
    }
    #advocacy-content {
        padding-top: 20px;
        top: -31px;
    }
    .footer {
        margin-top: -20px!important;
    }
}

@media screen and (max-width: 650px) {
    .headline .loop {
        width: 450px;
        left: calc(100% - 300px);
        top: calc(100% - 550px);
    }
    
    .content#programming-content {
        top: -10px;
    }
    
    svg#post-programming-curve {
        margin-top: 0;
    }
    
    #advocacy-content {
        top: -11px;
        padding-top: 20px;
    }
    
    .footer {
        margin-top: 0!important;
    }
    
    .headline #logo {
        width: 60%;
        min-width: 150px;
        top: 25vh;
        transform: translate(-50%,0);
    }
}