* {
    --rha-orange: #f26739;
    --rha-pink: #d26ba3;
    --rha-navy: #333366;
    --rha-magenta: #ed1b69;
    --rha-daisy: #ffcc66;
    --rha-lavender: #cfcce6;
    --rha-light-gray: #eaeaea;
    --rha-charcoal: #141414;
    
    --rha-peach-gradient: linear-gradient(var(--rha-orange), var(--rha-magenta));
    --rha-coral-gradient: linear-gradient(var(--rha-orange), var(--rha-pink));
    --rha-gold-gradient: linear-gradient(var(--rha-orange), var(--rha-daisy));
    --rha-blue-gradient: linear-gradient(var(--rha-navy), var(--rha-lavender));
    --rha-purple-gradient: linear-gradient(var(--rha-navy), var(--rha-pink));
    --rha-sunset-gradient: linear-gradient(var(--rha-navy), var(--rha-magenta));
    
    --rha-peach-gradient-flipped: linear-gradient(to top, var(--rha-orange), var(--rha-magenta));
    --rha-coral-gradient-flipped: linear-gradient(to top, var(--rha-orange), var(--rha-pink));
    --rha-gold-gradient-flipped: linear-gradient(to top, var(--rha-orange), var(--rha-daisy));
    --rha-blue-gradient-flipped: linear-gradient(to top, var(--rha-navy), var(--rha-lavender));
    --rha-purple-gradient-flipped: linear-gradient(to top, var(--rha-navy), var(--rha-pink));
    --rha-sunset-gradient-flipped: linear-gradient(to top, var(--rha-navy), var(--rha-magenta));
    
    --rha-peach-gradient-left: linear-gradient(to left, var(--rha-orange), var(--rha-magenta));
    --rha-coral-gradient-left: linear-gradient(to left, var(--rha-orange), var(--rha-pink));
    --rha-gold-gradient-left: linear-gradient(to left, var(--rha-orange), var(--rha-daisy));
    --rha-blue-gradient-left: linear-gradient(to left, var(--rha-navy), var(--rha-lavender));
    --rha-purple-gradient-left: linear-gradient(to left, var(--rha-navy), var(--rha-pink));
    --rha-sunset-gradient-left: linear-gradient(to left, var(--rha-navy), var(--rha-magenta));
    
    --rha-peach-gradient-right: linear-gradient(to right, var(--rha-orange), var(--rha-magenta));
    --rha-coral-gradient-right: linear-gradient(to right, var(--rha-orange), var(--rha-pink));
    --rha-gold-gradient-right: linear-gradient(to right, var(--rha-orange), var(--rha-daisy));
    --rha-blue-gradient-right: linear-gradient(to right, var(--rha-navy), var(--rha-lavender));
    --rha-purple-gradient-right: linear-gradient(to right, var(--rha-navy), var(--rha-pink));
    --rha-sunset-gradient-right: linear-gradient(to right, var(--rha-navy), var(--rha-magenta));
    
    color: var(--rha-charcoal);
}

h2.section-title {
    line-height: 0;
    text-transform: uppercase;
    font-size: 58pt;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

h2.section-title::before {
    content: '';
    height: 39pt;
    width: 17px;
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, var(--rha-orange) -100%, var(--rha-magenta) 400%);
    margin: 0 15px;
}

h2.section-title::after {
    content: '';
    height: 39pt;
    width: 17px;
    position: relative;
    display: inline-block;
    background: linear-gradient(to left, var(--rha-orange) -100%, var(--rha-magenta) 400%);
    margin: 0 15px;
}

.white-text {
    color: white;
}

h2.section-title.on-gold::before {
    background: linear-gradient(to left, var(--rha-navy) -50%, var(--rha-lavender) 500%);
}

h2.section-title.on-gold::after {
    background: linear-gradient(to right, var(--rha-navy) -50%, var(--rha-lavender) 500%);
}

p {
    line-height: 1.25;
    margin: 0 auto;
    font-size: 17pt;
    padding: 0;
    margin-top: 10px;
}

a.action-btn {
    margin-top: 25px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 1px 15px;
    font-size: 20pt;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translate(calc(-50% - 10px),0);
    overflow: hidden;
    background: linear-gradient(to top, var(--rha-orange) -200%, var(--rha-magenta) 300%);
    color: white;
    transition: padding 0.2s, box-shadow 0.2s;
    
    z-index: 5;
}

a.action-btn:hover {
    padding: 1px 25px;
    box-shadow: 0 2px 10px #00000044;
}

.action-btn::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: var(--rha-gold-gradient-flipped);
    transition: all 0.2s linear;
    z-index: -1;
}

.action-btn:hover::after {
    width: 150%;
    height: 300%;
}

.content-container {
    width: calc(90% - 20px);
    max-width: 1100px;
    min-width: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 25px;
}

.footer {
    position: relative;
    margin-top: -70px;
    background: var(--rha-charcoal);
}

.footer #footer-grid-container {
    display: grid;
    position: relative;
    left: 40px;
    width: 700px;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 40px;
}

.footer ul {
    padding: 0;
}

.footer .footer-links a, .footer a#email-link {
    margin: 0;
    min-height: 0;
    text-decoration: none;
}

.footer-links p, a#email-link p {
    color: white;
    display: inline-block;
    font-size: 14pt;
    padding: 0 2px;
    margin: 0;
    padding-top: 2px;
    box-shadow: 0 -2px 0 inset white;
    transition: box-shadow 0.1s;
    background: var(--rha-gold-gradient-right);
    -webkit-background-clip: text;
}

.footer .footer-links a:hover p, a#email-link:hover p {
    box-shadow: 0 0 0 inset white;
    color: transparent;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(2,50px);
    grid-column-gap: 22.5px;
}

.social-icons li {
    display: block;
}

.social-icons svg {
    display: block;
    fill: url(#white-gradient);
    width: 45px;
    height: 45px;
}

.social-icons #facebook svg {
    display: block;
    fill: url(#white-gradient2);
    width: 45px;
    height: 45px;
}

.social-icons svg stop {
    transition: 0.2s;
}

.social-icons a:hover svg stop:first-child {
    stop-color: var(--rha-orange);
}

.social-icons a:hover svg stop:last-child {
    stop-color: var(--rha-daisy);
}

.closing-footer {
    display: flex;
    position: relative;
    top: -25px;
}

.copyright {
    margin: 0;
    margin-left: 20px;
    font-size: 14pt;
    color: white;
    vertical-align: top;
    flex-basis: calc(50% - 5px);
    align-self: flex-end;
}

.footer-logo {
    flex-basis: 150px;
    width: 150px;
    left: calc(50% - 250px);
    position: relative;
}

.footer.mobile {
    display: none;
}

@media screen and (max-width: 500px) {
    .content-container{
        position: relative;
        min-width: 100px;
        width: calc(100% - 70px);
    }
    
    h2.section-title {
        font-size: 26pt;
    }
    
    h2.section-title::before {
        width: 12px;
        height: 18pt;
        margin: 0 7px;
    }
    
    h2.section-title::after {
        width: 12px;
        height: 18pt;
        margin: 0 7px;
    }
    
    .footer.mobile {
        display: block;
    }
    
    .footer.desktop, .closing-footer.desktop {
        display: none;
    }
}