body {
    margin: 0;
    font-family: effra, sans-serif;
}

.navbar {
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    right: 50px;
}

.navbar li {
    float: right;
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

.navbar a {
    color: white;
    font-size: 18pt;
    text-decoration: none;
    font-weight: 500;
    
    transition: color 0.1s;
}

.navbar a::after {
    width: 0;
    height: 3px;
    float: right;
    display: block;
    position: relative;
    transform: translate(0,-7px);
    content: '';
    
    background-color: white;
    transition: width 0.35s, background-color 0.1s;
}

.navbar a:hover::after {
    float: left;
    width: 100%;
    background-color: #141414;
}

.navbar a:hover {
    color: #141414;
}

.headline {
    overflow: hidden;
    height: 100vh;
    background-color: #FFC907;
}

.headline h1 {
    margin-top: 25vh;
    font-size: 96pt;
    width: 50%;
    margin-bottom: 0;
    line-height: 0.9;
    margin-left: 60px;
    color: white;
}

.headline p {
    font-size: 18pt;
    width: calc(100% - 120px);
    margin-left: 60px;
    text-align: justify;
    text-align-last: left;
    color: #141414;
}

.divider {
    overflow: hidden;
    background-color: #141414;
}

.divider h1 {
    text-align: center;
    line-height: 1;
    margin: 20px 0;
    color: white;
    font-weight: 500;
    font-size: 64pt;
}

.person {
    overflow: hidden;
    width: 100%;
    height: 70vh;
}

.person img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: absolute;
    float: right;
    object-position: 80% 0;
    z-index: -2;
}

.person #person-info {
    position: relative;
    top: 0;
    padding: 0;
    padding-top: 20vh;
    padding-left: 200px;
    margin: 0;
    width: calc(80% - 120px);
    overflow: hidden;
    z-index: -2;
}

.person #person-info h2 {
    margin: 0;
    font-size: 64pt;
    line-height: 1;
    color: #141414;
    display: block;
}

.person #person-info h4 {
    display: block;
    margin: 0;
    line-height: 1;
    margin-top: 10px;
    font-size: 36pt;
    color: #EE274E;
}

.left-img img {
    object-position: 20% 0;
}

.left-img #person-info {
    float: right;
    padding-right: 200px;
}

.left-img h4 {
    text-align: right;
}

.left-img h2 {
    text-align: right;
}

.mobile-navbar {
    overflow: hidden;
    visibility: hidden;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mobile-navbar #top {
    display: block;
    background-color: #141414;
}

.mobile-navbar #top #toggler { 
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;
    left: calc(100% - 5vh - 25px);
    display: inline-block;
    margin-top: 10px;
    opacity: 0;
}

.mobile-navbar .hamburger {
    height: 0.35vh;
    width: 4.5vh;
    left: calc(100% - 4.75vh - 25px);
    background-color: white;
    position: absolute;
    top: 3vh;
    transition: top 0.2s, transform 0.2s;
}

.mobile-navbar .hamburger::before, .mobile-navbar .hamburger::after {
    width: 100%;
    height: inherit;
    background-color: inherit;
    content: '';
    position: absolute;
    top: -1.25vh;
    
    transition: top 0.2s, transform 0.2s;
}

.mobile-navbar .hamburger::after {
    top: 1.25vh;
}

.mobile-navbar #toggler:checked + .hamburger {
    transform: rotate(-135deg);
}

.mobile-navbar #toggler:checked + .hamburger::after {
    top: 0;
    transform: rotate(90deg);
}

.mobile-navbar #toggler:checked + .hamburger::before {
    top: 0;
    transform: rotate(90deg);
}

.mobile-navbar #menu {
    position: fixed;
    text-align: center;
    overflow: hidden;
    background-color: #171717;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: -100vh;
}

.mobile-navbar #menu ul {
    list-style: none;
    font-size: 3vh;
    padding: 0;
    margin: 0;
}

.mobile-navbar li {
    margin-top: 1vh;
    background-color: #141414;
}

.mobile-navbar #menu li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1350px) {
    .left-img #person-info {
        padding-right: 100px;
    }
    .right-img #person-info {
        padding-left: 100px;
    }
}

@media screen and (max-width: 1150px) {
    .person #person-info {
        padding-top: 22vh;
    }
    .left-img #person-info {
        padding-right: 50px;
    }
    .right-img #person-info {
        padding-left: 50px;
    }
    .person #person-info h2 {
        font-size: 48pt;
    }
    .person #person-info h4 {
        font-size: 24pt;
    }
}

@media (max-aspect-ratio: 12/13) {
    .navbar {
        visibility: hidden;
    }
    .mobile-navbar {
        visibility: visible;
    }
    
    .headline p {
        font-size: 2.35vh;
        line-height: 1.4;
        text-align: left;
    }
    .headline h1 {
        margin-top: 25vh;
        font-size: 7vh;
    }
    
    .person {
        height: 30vh;
    }
    .person img {
        height: inherit;
    }
    .person #person-info {
        padding-top: 8vh;
        width: 70%;
    }
    .person #person-info h2 {
        font-size: 5vh;
        line-height: 0.9;
    }
    .person #person-info h4 {
        font-size: 2.2vh;
        margin-top: 20px;
        line-height: 1.1;
        width: 80%;
    }
    .left-img h4 {
        position: relative;
        left: 20%;
    }
}