body {
    --graphite: #141414;
    --red: #EE274E;
    --yellow: #FFC907;
    --headline-red: #fa1e4ad9;
    margin: 0;
    font-family: effra, sans-serif;
    color: var(--graphite);
}

/* GENERAL */
h1,h2,h3,p,a {
    line-height: 1;
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 96pt;
    letter-spacing: 40px;
    font-weight: 900;
}

h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 52pt;
    font-weight: 900;
    letter-spacing: 0;
    margin-bottom: 20px;
}

h2::after {
    height: 8px;
    width: 35px;
    background: var(--yellow);
    position: relative;
    content: '';
    display: block;
    top: -10px;
    left: 2px;
    margin: 0;
}

p {
    font-size: 20pt;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: justify;
}

.content-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.action-btn {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18pt;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--red);
    display: inline-block;
    margin-top: 20px;
    margin-left: 3px;
    padding: 5px 10px;
    padding-top: 8px;
    outline: 3px solid var(--red);
    box-shadow: inset 0 0 0 var(--red);
    transition: color 0.3s, box-shadow 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.action-btn:hover {
    box-shadow: inset 200px 0 0 var(--red);
    color: white;
}

/* HOMEPAGE */
.headline {
    overflow: hidden;
    height: 650px;
    background: linear-gradient(var(--headline-red),var(--headline-red)), url("images/headline-ice-cream.jpg");
    background-size: auto 200%;
    background-position: left 50% top -150px;
    position: relative;
    vertical-align: middle;
}

.headline img {
    display: block;
    height: 150px;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translate(0,-50%);
}

.tagline {
    margin: 0;
    height: 200px;
    background: var(--graphite);
    position: relative;
}

.tagline h1 {
    font-size: 36pt;
    letter-spacing: 5px;
    position: relative;
    top: 50%;
    font-weight: 900;
    transform: translate(0,-50%);
}

.tagline+.content .content-container {
    margin-top: 60px;
}
